/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1207px) {
  /* Styles */
  /* screen 1*/
  .content1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .title1 {
    padding-top: 20px;
    text-align: center;
    justify-content: center;
  }
  .title1 .title1-button {
    margin: auto;
  }
  .nav {
    padding-left: 100px;
    padding-right: 100px;
  }
  /* screen 2*/
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title2 {
    padding-top: 20px;
    text-align: center;
    justify-content: center;
  }
  .title2 ul {
    margin: auto;
  }
  .title2 li {
    padding-bottom: 10px;
  }
  .title2 i {
    font-size: 50px;
    padding-right: 50px;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  /* screen 3 */
  .scores {
    flex-direction: column;
  }
  .scores-1 {
    flex-direction: column;
  }
  .scores-2 {
    flex-direction: column;
  }
  /* screen 4 */
  .hobbies {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .hobbies-images {
    flex-direction: column;
    gap: 0;
  }
  .hobbies-text {
    text-align: center;
  }
  .first-column {
    gap: 64px;
  }
  .second-column {
    gap: 64px;
  }
  /* screen 5*/
  .art-row {
    display: flex;
    flex-direction: column !important;
    width: 100%;
  }
  /* screen 6 */
  .new-boxes {
    flex-direction: column !important;
  }
  .boxes2 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  /* screen 7 */
  .contact {
    flex-direction: column !important;
  }
  .my-info {
    margin-right: 0 !important;
    align-items: center;
  }
  .my-info h1 {
    text-align: center;
    font-size: 37px !important;
  }
}
/* Mobile */
@media only screen and (max-width: 768px) {
  /* Styles */
  /* screen 1*/
  .content1 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .title1 {
    padding-top: 20px;
    text-align: center;
    justify-content: center;
  }
  .title1 .title1-button {
    margin: auto;
  }
  .nav {
    padding-left: 50px;
    padding-right: 50px;
  }
  /* screen 2*/
  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title2 {
    padding-top: 20px;
    text-align: center;
    justify-content: center;
  }
  .title2 ul {
    margin: auto;
  }
  .title2 li {
    padding-bottom: 10px;
  }
  .title2 i {
    font-size: 50px;
    padding-right: 40px;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  /* screen 3 */

  .scores-1,
  .scores,
  .scores-2 {
    flex-direction: column;
  }

  .title3 {
    text-align: center;
  }
  /* screen 4 */
  .hobbies {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .hobbies-images {
    flex-direction: column;
    gap: 0;
  }
  .hobbies-text {
    text-align: center;
  }
  .first-column {
    gap: 64px;
  }
  .second-column {
    gap: 64px;
  }
  /* screen 5 */
  .art-row {
    display: flex;
    flex-direction: column !important;
    width: 100%;
  }
  .art-1 p {
    color: rgb(5, 129, 238) !important;
  }
  /* screen 6 */
  .new-boxes {
    flex-direction: column !important;
  }
  .boxes2 {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  /* screen 7 */
  .contact {
    flex-direction: column !important;
  }
  .my-info {
    margin-right: 0 !important;
    align-items: center;
  }
  .my-info h1 {
    text-align: center;
    font-size: 37px !important;
  }
}
